Repository MLOpsVN/mlops-crash-course-code: changes, and which Jenkins stages are due for each by the changed paths.
All: build model serving, test model serving, deploy serving pipeline, deploy online serving API, build data pipeline, test data pipeline, deploy data pipeline, batch serving pipeline, online serving API

Jenkinsfile:

pipeline {
    agent { docker { image 'python:3.9' } }

    stages {
        stage('build model serving') {
            when {changeset "model_serving/**" }

            steps {
                echo 'Building model serving..'
                sh 'cd model_serving && make build_image'
            }
        }

        stage('test model serving') {
            when {changeset "model_serving/**" }

            steps {
                echo 'Testing model serving..' // (1)
            }
        }

        parallel { // (2)
            stage('deploy serving pipeline') {
                when {changeset "model_serving/**" }

                steps {
                    sh 'cd model_serving && make deploy_dags'
                }
            }

            stage('deploy online serving API') {
                when {changeset "model_serving/**" }

                steps {
                    sh 'cd model_serving && make compose_up'
                }
            }
        }
    }
}

Jenkinsfile_data_pipeline:

pipeline {
    agent {
        docker {
            image 'python:3.9'
        }
    }

    stages {
        stage('build data pipeline') {
            when {changeset "data_pipeline/**" }

            steps {
                echo 'Building data pipeline..'
                sh 'cd data_pipeline && make build_image'
            }
        }

        stage('test data pipeline') {
            when {changeset "data_pipeline/**" }

            steps {
                echo 'Testing data pipeline..'
            }
        }

        stage('deploy data pipeline') {
            when {changeset "data_pipeline/**" }

            steps {
                sh 'cd data_pipeline && make deploy_dags'
            }
        }
    }
}

Jenkinsfile_model_serving:

pipeline {
    agent { docker { image 'python:3.9' } }

    stages {
        stage('build model serving') {
            when {changeset "model_serving/**" }

            steps {
                echo 'Building model serving..'
                sh 'cd model_serving && make build_image'
            }
        }

        stage('test model serving') {
            when {changeset "model_serving/**" }

            steps {
                echo 'Testing model serving..'
            }
        }

        stage('deploy model serving') {
            parallel {
                stage('batch serving pipeline') {
                    when {changeset "model_serving/**" }

                    steps {
                        sh 'cd model_serving && make deploy_dags'
                    }
                }

                stage('online serving API') {
                    when {changeset "model_serving/**" }

                    steps {
                        sh 'cd model_serving && make compose_up'
                    }
                }
            }
        }
    }
}

Update docker file, requirements
  data_pipeline/deployment/Dockerfile
  model_serving/deployment/Dockerfile
  model_serving/deployment/requirements.txt
  model_serving/dev_requirements.txt
  monitoring_service/deployment/Dockerfile
  stream_emitting/Dockerfile
  training_pipeline/deployment/Dockerfile
  training_pipeline/deployment/requirements.txt
  training_pipeline/dev_requirements.txt
Due: build model serving, test model serving, deploy serving pipeline, deploy online serving API, build data pipeline, test data pipeline, deploy data pipeline, batch serving pipeline, online serving API

fix: Remove # character in the agent declaration line.
  Jenkinsfile
Due: none

remove unused lib
  data_pipeline/src/stream_to_stores/processor.py
Due: build data pipeline, test data pipeline, deploy data pipeline

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/course-content-report.md
Due: none

Slightly change to test Jenkins
  Jenkinsfile
Due: none

Another commit for build stage
  .gitignore
  Jenkinsfile
Due: none

Another commit for test stage
  Jenkinsfile
Due: none

Update utils.py
  data_pipeline/dags/utils.py
Due: build data pipeline, test data pipeline, deploy data pipeline
